.Cell{
    border:1px solid black;
    height: 20px;
    width : 20px;
}
.grid-wrap{
    display:grid;
    grid-template-columns: repeat(30,20px);
    margin: 20px auto;
    width: fit-content;
    border: 1px solid black;
}
.controls{
    margin: 10px auto;
    width: 400px;
    display: flex;
    justify-content: space-around;
}
button{
    width: 70px;
    font-size: 0.9rem
}